* {
  font-family: "Montserrat ", sans-serif;
}

/* Main container for the layout */
.expanded-reports {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling on the main container */
}

/* Sidebar styling */
.sidebar {
  width: 20%; /* Fixed width for the sidebar */
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevent scrolling in the sidebar */
}

/* Return button styling */
.return-button {
  background-color: pink;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.return-button:hover {
  background-color: #0056b3;
}

/* Sidebar content styling */
.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Map container styling */
.map-container {
  margin-left: 20%; /* Push the map content to the right of the sidebar */
  flex: 1; /* Take up the remaining space */
}

.map-placeholder {
  height: calc(100vh - 4rem); /* Adjust height to fit within the viewport */
  height: 100%;
}
